.ant-form-item {
  display: inline-block;
}
.ant-form-item-label {
  width: 179px;
}
.ant-input {
  width: 358px;
}
.ant-form-item-control-input {
  width: 358px;
}
.ant-btn-primary {
  margin-left: 550px;
}
